html {
	background-image: url(../images/bg4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
body { 
	background-color: transparent;
	overflow-y: scroll;
}
.dress {
	overflow: hidden;
	display: flex;
	width: 360px;
	height: 235px;
	margin: 5px;
}
.cart {
	max-width: 5%;
}
.dressImg {
	margin: auto auto;
}
.cartImgDiv {
	outline: solid;
}
.dressUrl {
	width: 150px;
	height: 150px;
}
.cartDress {
	display: flex;
}
.cartImage {
	width: 150px;
	height: 150px;
}
