<div ng-controller="PizzaCtrl" class="PizzaCtrl">
    <div class="itemDetails">
        <img class="col-lg-2 image" src="{{item.url}}">
        <div>
            <span></span>
            <ul class="size col-lg-12">
                <li class="col-lg-3 btn btn-info">Regular&nbsp;&nbsp;-&nbsp;{{item.regular}}</li>
                <li class="col-lg-3 btn btn-info">Medium&nbsp;&nbsp;-&nbsp;{{item.medium}}</li>
                <li class="col-lg-4 btn btn-info">Large&nbsp;&nbsp;-&nbsp;{{item.large}}</li>
            </ul>
        </div>
    </div>
</div>