<div>
	<table class="table table-condensed">
		<tr  ng-repeat="item in cartItems">
			<td>
				<div class="col-sm-4 cartDress"><img ng-src="{{item.url}}" id="{{item.id}}" class="thumbnail cartImage"></div>
			</td>
			<td>
				<div class="btn">
					<button class="btn btn-danger" ng-click="cartRemove(item)" id="cartRemove_{{item.id}}">Remove</button>
				</div>
				<label id="pay_{{item.id}}"></label>
			</td>
			<td>
				<input class="text quantity" id="quantity_{{item.id}}" ng-model="item.quantity">
			</td>
			<td>
				<button ng-click="binded(item)">Binded</button>
			</td>
		</tr>
	</table>
	<span id="cartMessage" ng-show="!cartItems.length" class="text-info">Cart is empty</span>
	<button class="btn btn-success" ng-click="pay(item)" id="pay{{item.id}}" ng-show="cartItems.length">Proceed to checkout</button>
</div>