<div ng-hide="logged">
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-6">Email: </label>
			<input type="email" class="col-sm-2" ng-model="email"/>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-6">Password: </label>
			<input  type="password" class="col-sm-2" ng-model="password"/>
		</div>
		<span class="btn btn-responsive">
			<a href="#/dashboard" ng-click="login()" class="btn btn-primary" style="margin-right:10px;">Login</a>
			<a href="#/register" class="btn btn-primary" ng-click="register()">Register</a>
		</span>
	</form>
	<!--span ng-show="login.email.$invalid">Enter valid email Id</span>
	<span ng-show="login.password.$invalid">Password is required.</span-->
	<span class="text-danger">{{loginMessage}}</span>
</div>