<div class="container">
  <div class="row">
    <div class="col-md-8" id="search-div">
      <form class="form-horizontal" role="form" id="search-form">
        <div class="form-group">
          <label for="contain">Source</label>
          <input class="form-control" type="text" name="source" ng-model="source"/>
        </div>
        <div class="form-group">
          <label for="contain">Destination</label>
          <input class="form-control" type="text" name="destination" ng-model="destination"/>
        </div>
        <div class="form-group">
          <label for="contain">Id</label>
          <input class="form-control" type="text" name="id" ng-model="id" />
        </div>
        <a href="#/results" class="btn btn-primary" ng-click="search()">Search</a>
      </form>
    </div>
  </div>